* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#player-board, #cpu-board {
    display: grid;
    justify-content: center;
    align-items: center;
    height:25rem;
    width: 25rem;
    border: 1px solid rgb(129, 129, 129);
    aspect-ratio: 1/1;
    grid-template-columns: repeat(10, 1fr);
    margin: 1rem auto;
}
.cell {
    display: flex;
    aspect-ratio: 1/1;
    border: 1px solid rgb(129, 129, 129);
    background-color: blue;
}